<h1>{{title}}</h1>
<p>Welcome to {{title}} {{username}}</p>
<p>You have viewed all jokes {{allJokesCount}} times</p>
<p>You have viewed random jokes {{randomJokeCount}} times</p>
<p>You have added new jokes {{storeNewJokeCount}} times</p>

<a href="jokes">Press this for all jokes..</a>
<div></div>
<a href="joke">Press this for random jokes..</a>
<div></div>
<a href="addnewjoke">Press this to add a new joke..</a>